_ngo/
iseconfig/
xlnx_auto_0_xdb/
_xmsgs
ipcore_dir/
isim/
xst/
*.ngc
*.ngd
*.ncd
*.pcf
*.bgn
*.drc
*.unroutes
*.xpi
*.log
*.cmd_log
*_summary.html
*_summary.xml
*.xwbt
*.gise
*.bit
write.txt
*.bld
*.cpj
*.lso
*.ngr
*.pad
*.par
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.wdb
*.exe
*.ut
*.map
*.ngm
*.xrpt
*.csv
*.html
*.xml
*.ini
*.mrp
