_ngo/
iseconfig/
xlnx_auto_0_xdb/
*.ngc
*.ngd
*.ncd
*.pcf
*.bgn
*.drc
*.unroutes
*.xpi
*.log
*.cmd_log
*_summary.html
*_summary.xml
*.xwbt
*.gise
*.bit
write.txt
*.bld
*.cpj
*.iso
*.ngr
*.pad
*.par
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.wdb
*.exe